/*
COLORS
secondary.color= cherry pink #FF1744
primary.color= light blue #E3F2FD

secondary.color.dark= dark red #c4001d
primary.color.dark= light grey #b1bfca

background.color= white #ffffff
text.color= dark blue grey #263238

text.color.on.secondary= #ffffff

READ MORE BUTTON styling
background.color= #FF1744
text.color= #eceff1

*/





/* Media */
img {
  width: 100%;
  max-width: 1170px;
}

/* Animation */

@keyframes color-change1 {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.backclouds {
  animation-duration: 4s;
  animation-name: color-change1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change2 {
  0% {fill: #ffffff;}
  50% {fill: #fdcdee;}
  100% {fill: #fdfdfd;}
}
.background {
  animation-duration: 4s;
  animation-name: color-change2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(500px,50px);}
}


.cloud-front {
  animation-duration: 10s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 24s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.small-cloud {
  animation: 14s cloud-move-reverse infinite alternate linear;
}



/* Fonts */
p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-size: 17px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.4;
  font-size: 18px;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35em;
  font-weight: 600;
}

/* Links*/
a {
  color: #FF1744;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #ff616f;
}
a:hover,
a:focus {
  color: #c4001d;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #880e4f;
}



/* Layout styling */

.container {
  padding: 0 15px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 10px; /* 25px top and bottom, 0 left and right */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}


/*for NAVBAR*/
.logo {
  max-width: 100px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin:0;
}


nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-family: Roboto,monospace;
  letter-spacing: 5px;
  font-weight: 300;
  color: #FF1744;
}
nav > ul > li > a:visited {
  color: #ff616f;
}
nav > ul > li > a:hover,
a:focus {
  color: #c4001d;
  text-decoration: underline; /* Underlining when hovering over a link */
  cursor: pointer;
}

nav > ul > li > a:active { /* selected link */
  color: #880e4f;
}

.navtoggle li:not(:last-child) {
  display: none; /* old version block*/
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon , .navtoggle li .icon-bars{
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.navtoggle li:nth-last-child(-n + 2) {
  border-top: none;
}
.responsive .icon-bars {
display: none;
}

/* Header */
header {
  background-color: #E3F2FD;
  padding: 10px 0 4px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 10px 5px -3px rgba(50, 50, 50, 0.54);
-moz-box-shadow:    0px 10px 5px -3px rgba(50, 50, 50, 0.54);
box-shadow:         0px 10px 5px -3px rgba(50, 50, 50, 0.54);
}
* {
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Montserrat', sans-serif;
background-color: #ffffff;
  font-size: 1em; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #263238;
}
/*for HERO*/

main {
  padding-top: 100px;
}
#hero span {
  display: block;
}

#hero {
  background-color: #E3F2FD;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero h1 {
  text-align: center;
  padding: 0.87em 0;
  margin: 0;
}
#hero h3 {
  color: #FF1744;
}
#hero h2 {
  max-width: 50%;
  display: inline-block;
}
#hero p {
  max-width: 50%;
  display: inline-block;
}


/*for Work*/
#work h2 {
  text-align: center;
  padding: 15px; /* Centers text */
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #263238; }
#work .row:last-child { border-bottom: none;}
#work h3 {
  margin-top: 0;
}
border {padding: 20px;}


/*for Cards*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card {
  padding-bottom: : 10px;
}
#work .col-md-6 {
  width: 33.3%;
}

/*for intro of project sites*/
#intro , #projectchallenge {
  background-color: #E3F2FD;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* for donkey project site*/

.carousel.slide {
  width: 90%;
  height: 400px;
  margin:50px auto;
  position: relative;
  box-shadow: 0px 0px 10px 3px grey;
  overflow: hidden;
}

/*.carousel.inner {
  margin: 0px;
  position: relative;
  width: 500%;
  left: 0px;
  transition:1s ease-in-out;
}

.carousel.slide img {
  width: 20%;
  height: 100%;
  float: left;
}

/* fonts styling for projectsite*/
#projectchallenge ul {
  font-family: 'Montserrat', sans-serif;

  line-height:180%
}
#projectbutton {
  font-family: 'Montserrat', sans-serif;
}



/*button style for project slider*/

.btn-next, .btn-prev {
  position: absolute;
  top: 45%;
  cursor: pointer;
  color: white;
  background: #E3F2FD;
  padding: 20px;
  font-size: 50px;
  border: none;
}
.btn-next {
  right: 0px;
}
.btn-prev {
  left: 0px;
}
/*for ABOUT*/
#about-page h3 { margin-top: 0;}


/*for Footer*/
#contact { padding-top: 25px; border-top: 1px solid #4a4a4a; }

#social {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
#social ul {
  list-style-type: none;
  width: 100%;
}
#social ul > li {
  padding: 10px;
  display: inline-block;
  color: #263238;
}
#social ul > li > i {
  color: #263238;
}
.fab.fa-linkedin.fa-lg, .fab.fa-behance-square.fa-lg, .fas.fa-archive {
  color: #263238;
}

#institute-page {
    box-sizing: nonzero;
}

/* END of your “styles.css” document. As this is a very specific rule only for hyperlinks that have the button class, it needs to go close to the bottom; otherwise, it could get overwritten by other less specific rules, such as the general styling rules for all of your hyperlinks.*/


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #263238;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #263238; /* width of the border, type, color */
  transition: 0.2s opacity;
  transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
}
.button:hover,
.button:focus,
.button:visited {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
}
.button:active {
  background-color: #FF1744;
  text-decoration: none;
  color: #ffffff;
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}


/* For Contact Buttons */
.button.contact {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: #263238;
  text-transform: uppercase;
  border: 2px solid #263238;
  transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
}
.button.contact:hover {
  cursor: pointer;
  background-color: #263238;
  color: #ffffff;
  font-size:18px;
}
.button.contact:active {
  background-color: #FF1744;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #FF1744;
}


/* ==============================
Medium devices (640px or larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
main {
  padding-top: 180px;
  }
  .col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 20px;
}
.logo {
min-width: 200px;
display: left;
}
nav > ul > li {
  display: inline-block;
}
nav > ul {
  margin: 1em 0;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:nth-last-child(-n + 2) {
  display: none;
}
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-md-7 {
    width: 58,33%;
  }
  .col-md-5 {
  width: 51,66%;
}

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
